@layer aki-reset {
	body {
		font-family: "游ゴシック体", YuGothic, "游ゴシック", "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro",
			"ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
		font-size: 18px;
		line-height: 1;
		color: #494949;
		text-decoration: none;
		font-weight: normal;
		font-variant-ligatures: none;
		-webkit-tap-highlight-color: transparent;
		word-wrap: break-word;
		overflow-wrap: break-word;
		word-break: break-word;
	}

	* {
		box-sizing: inherit;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		text-align: left;
		word-wrap: inherit;
		overflow-wrap: inherit;
		word-break: inherit;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		text-decoration: inherit;
		font-weight: inherit;
		font-variant-ligatures: inherit;
		-webkit-tap-highlight-color: inherit;
		border: none;
	}

	*:focus {
		outline: none;
	}

	html,
	body {
		width: 100%;
		height: 100%;
	}

	ul,
	ol {
		padding-block-start: 0;
		padding-block-end: 0;
		padding-inline-start: 40px;
		margin-inline-start: 0;
		margin-inline-end: 0;
	}

	input,
	select,
	textarea {
		appearance: none;
		background-color: transparent;
		border: 1px solid #494949;
		border-radius: 0;
	}

	button {
		background-color: transparent;
		border: 1px solid #494949;
		border-radius: 0;
	}

	table,
	thead,
	tbody,
	tr,
	th,
	td {
		border: 1px solid #494949;
		border-radius: 0;
		border-collapse: collapse;
	}
}
